/* Start general CSS informations */
body {
    background: url(/assets/images/background/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 87% !important;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nav-link:hover,
.dropdown-item:hover {
    font-weight: bold;
}

.placeholder {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .tablet {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .handy {
        display: none;
    }
    .container {
        max-width: 100% !important;
        border-radius: 5px;
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 1200px) {
    a:hover + .preview, .preview:hover {
        display: none;
    }
}
/* End */


/* Preview classes for reports start*/
.preview {
    display: none;
}

a:hover + .preview,
.preview:hover {
    display: block;
    position: fixed;
    top: 20%;
    left: 55%;
}

.previewBox {
    width: 250%;
    height: 660px;
}

/* End */
.crone {
    position: relative;
    text-align: center;

}

.centered a {
    position: absolute;
    font-size: 70%;
    max-width: 150px;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.popupDorfInfo {
    padding: 10px;
    border-radius: 5px;
}