/* Start general CSS informations */
body {
    background: url(/assets/images/background/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 87% !important;
    border-radius: 5px;
    margin-bottom: 10px;
}

.nav-link:hover,
.dropdown-item:hover {
    font-weight: bold;
}
.placeholder {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width:1400px) {
    .tablet {
        display: none;
    }
}

@media screen and (max-width:800px) {
    .handy {
        display: none;
    }
    
}
/* End */


/* Preview classes for reports start*/
.preview {
    display: none;
}

a:hover+.preview,
.preview:hover {
    display: block;
    position: fixed;
    top: 20%;
    left: 55%;
}
.previewBox {
    width: 250%;
    height: 660px;
}

@media screen and (max-width:1200px) {
    a:hover + .preview,.preview:hover{
        display: none;
    }
}
/* End */



.infobox {
    display: none;
    border-radius: 10px;
    width: 10%;
    min-height: 5%;
}

.info:hover+.infobox,
.infobox:hover {
    display: block;
    position: absolute;
    margin-left: 180px;
    margin-top: -50px;

}

.infobox2 {
    display: none;
    border-radius: 10px;
    width: 600px;
    min-height: 5%;
}


.infobox3 {
    display: none;

    border-radius: 10px;
    width: 10%;
    min-height: 5%;
}

.infobox4 {
    display: none;
    border-radius: 10px;
    font-size: 1em;
    text-align: left;
}

.info4:hover+.infobox4,
.infobox4:hover {
    display: block;
    position: absolute;
    margin-bottom: 45px;
    margin-left: 30px;
    bottom: 0px;


}

.info:hover+.infobox3,
.infobox3:hover {
    display: block;
    position: absolute;
    margin-left: 180px;
    margin-top: -170px;

}

.info2:hover+.infobox2,
.infobox2:hover {
    display: block;
    position: absolute;
    margin-left: 160px;
    margin-top: -120px;

}

.crone {
    position: relative;
    text-align: center;

}

.centered a {
    position: absolute;
    font-size: 70%;
    max-width: 150px;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupDorfInfo{
    padding: 10px;
    border-radius: 5px;
}